{% trans_default_domain 'FOSUserBundle' %}
{% extends 'front.html.twig' %}

{% block content %}
    <div class="row">
        <div id="tg-twocolumns" class="tg-twocolumns">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <aside id="tg-sidebar" class="tg-sidebar">
                    <div class="tg-widgetprofile">
                        <div class="tg-widgetcontent">
                            <figure>
                                {% if app.user.url=="" %}
                                    <img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" alt="image description">
                                {% else  %}
                                    <img src="{{ asset('') }}{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="image description">
                                {% endif %}
                            </figure>
                            <div class="tg-admininfo">
                                <h3>{{app.user.prenom ~" "~ app.user.nom }}</h3>
                                <h4>{{ app.user.occupation }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-widgetdashboard">
                        <nav id="tg-dashboardnav" class="tg-dashboardnav">
                            <ul>
                                <li>
                                    <a href="{{ path('profilehomepage') }}">
                                        <i class="lnr lnr-database"></i>
                                        <span>Profile homepage</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('paramInfo') }}">
                                        <i class="lnr lnr-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('album') }}">
                                        <i class="lnr lnr-clock"></i>
                                        <span>Votre album photo</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('showPost') }}">
                                        <i class="lnr lnr-briefcase"></i>
                                        <span>Your post list</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('createPost') }}">
                                        <i class="lnr lnr-briefcase"></i>
                                        <span>Create a post</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="tg-widgetdashboard hidden-xs">
                        <div class="tg-banneradd">
                            <figure>
                                <a href="#"><img src="images/add-01.png" alt="image description"></a>
                            </figure>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                <div id="tg-content" class="tg-content">
                    <div class="tg-dashboardsecuritysetting">
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                            <fieldset>

                                {{ form_widget(form) }}
                                <div>
                                    <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                                </div>

                            </fieldset>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
